p {
    font-family: papyrus;
}

body {
    background-color :aquamarine;
}

div#img-box {
    float : right
}

#img-box img {
max-width: 50%
}

.highlight {
    font-weight :bold;
    background-color :yellow;

}

.smeargle{
    max-width: 100px;
}