p {
    font-family: papyrus;
}

body {
    background-color :aquamarine;
}

div#img-box {
    float : middle;
}

#img-box img {
max-width: 50%
}

.highlight {
    font-weight :bold;
    background-color :yellow;
}

.smeargle {
    float: middle;
    max-width: 100px;
    border: 5px black;
}