/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 20px;
    margin-bottom: 20px;
    border: dashed 20px #d83a3a;
    background-color: #DDD8C4;
    
  }

section {
  background-color: aqua;


}

p {
  padding-left: 20px;
padding-right: 20px;
}

h1 {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
}

h1, h2, h3 {
  font-family: Cambria;
}

#content {

background-color: blue;
}

body {
  background-color: black;
}